$color-light: #fff;
$color-dark: #2f3542;
$color-success: #26de81;
$color-warning: #e1644e;

$font-text: 'Poppins', sans-serif;

$radius: 20px;
$base-size: 12px;
$transition: all 0.5s;
$box-shadow: 0 0 50px rgb(0 0 0 / 50%);
$background-gradient: linear-gradient(to right, #8e2de2, #4a00e0);