@import '../../styles/settings.scss';

.product {
  display: flex;
  flex-wrap: wrap;
  margin: ($base-size * 6) ($base-size * 3);
  background: $background-gradient;
  border-radius: $radius;
  box-shadow: $box-shadow;
  padding: ($base-size * 2) $base-size;
  position: relative;
}

.name {
  margin: $base-size 0;
  font-size: $base-size * 3;
}

.price {
  font-size: $base-size * 1.5;
}

.button {
  position: absolute;
  top: -$base-size * 2;
  right: -$base-size * 2;
  font-size: $base-size * 2;
  border-radius: 100%;
  width: $base-size * 5;
  height: $base-size * 5;
}